body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2d2d2d;
}

#homebutton {
    position: relative;
    top: 10px;
    color: #fff;
    height: 25px;
    border: 2px solid #000;
    left: 10px;
}
#titel {
    width: 25%;
    position: relative;
    left: 45%;
    color: #fff;
    height: 25px;
    font-size: 150%;
}
#instructies{
    text-align: center;
    color: #fff;
}
#gameCanvas {
    border: 2px solid #333;
    background-color: #131;
    margin: 20px auto;
    display: block;
}

#score {
    position: relative;
    text-align: center;
    color: #fff;
}
