@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body {
    background-color: rgb(0, 41, 3);
}

#entergrid {
    display: grid;
    place-items: center;
    height: 90vh;
}

#enter {
    /* Style zelf maar */
    width: 200px;
    height: 75px;
    transition: 1s ease-in-out;
    background: none;
    border: none;
    font-size: 200%;
    font-family: 'Fredericka the Great', cursive;
    color: white;
    cursor: pointer;
}

#enter:hover {
    scale: 1.2;
}

.page {
    display: none;
}

#buiten {
    font-family: Fredericka the Great;
    /* background-color: #00961bbb; */
    font-size: 300%;
    color: white;
    margin-top: 20px;
}